@import "mixin";

.footer {
    padding: 48px 0;
    background-color: #000000;
    &__comntainer {
    }

    &__body {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        @media(max-width: 992px) { 
            flex-direction: column;
        }
    }

    &__col-01 {
    }

    &__logo {
        @include adaptiv-value("font-size", 48, 36, 1);
        line-height: 100%;
        color: #fff;
        position: relative;
        z-index: 999;
    }

    &__text {
        margin: 16px 0 0 0;
        color: #cbcbcb;
    }

    &__copy {
        margin: 16px 0 0 0;
        color: #cbcbcb;
    }

    &__col-02 {
    }

    &__menu {
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__item {
    }

    &__link {
        color: #fff;
        font-weight: 500;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #e6f355;
        }
    }

    &__col-03 {
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    &__contact {
    }

    &__link-contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        font-weight: 600;
        color: #fff;
        transition: all 0.3s ease 0s;

        span {
            color: #cbcbcb;
            font-weight: 400;
        }

        &:hover {
            color: #313ffe;
            span {
                color: #cbcbcb;
            }
        }

        &:last-child { 
            @media(max-width: 389px) { 
                font-size: 15px;
            }
        }
    }
}
